body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*permet de definir le tipe d'ecriture*/
}
main {
    margin: auto;
    max-width: 900px;
	border: solid #333;/*permet de faire un contoure*/
}
header {
	height: 170px;
    color: white;/*mettre les ecriture en blanc*/
    background-color: #333;/*mettre le fond en noir*/
}
.titre {
    margin-left: 20px;
    margin-top: 3em;
	float:left;/*permet de mettre le titre a gauche*/
}  
.adresse{
	line-height: 1em;/*permet de placer l'adresse a une distance proportionnelle du texte  */
}
.photo {
    margin-left: 1%;
    border-radius: 50%;/*permet d'arondire les angle de la photo*/
    width: 130px;/*definie la taille de l'image*/
    height: 130px;
    overflow: hidden;
	float:left;/*permet de mettre la photo a gauche*/
}
h1{
    color: #white;/* mes le texte en blanc*/
    font-weight: bold;/* permet de mettre le texte en gras*/
    letter-spacing: .1rem;/*permet de placer mo nom et prenom a une distance proportionnelle du texte  */
    font-size: 20px;/*definit la taille du text*/
}
 h2{
    margin-left: 10%;/*permet de mettre le texte a 10% de la marge a gauche*/
    color: #000;/*mes la couleur en noir*/
    letter-spacing: .1rem;
    font-size: 18px;/*definit la taille de l'ecriture*/
}
.droite{
	float:right;/*place  le section a droite*/
    margin-top: 2em;/*definit l'espace en haut */ 

}
.partie_droite{
    background-color: white;/*permet de mettre le fond en blanc*/
    float: right;/*permet de mettre la section a droit*/
    width: 400px;/*permet de mettre la section 400px a gauche */
}
.partie_gauche{
    background-color: white;/* permet de mettre le couleur de fond en blanc*/
    float: left;
    width: 400px;
}
.alignement {
    width: 40%;/*permet de fenir la largeur du bloc alignement */
    margin-left: 10%
}
.classe{
    color: red;/*mes le texte en rouge*/
    font-weight: bold;/* mes le texte en gras*/
    letter-spacing: .1rem;
}
hr.ligne{
 border-top: 2px solid #c31313;/*permet de faire un ligne continu de l'argeur 2px et de couleur rouge*/
 width: 90%;
 margin-top: .8rem;/* de la placer a 8rem du top*/
 margin-bottom: 1rem;
}
.atouts{
    display: grid; /* permet de diviser l'espace de l'ecrant en plusieur partir*/
    margin-left: 10%;
}
.div{
    margin-left: 10%; /*permet de mettre un espace a gauche des div de 10% */
}

.reseaux{
    margin-left: 10%;/*permet de mettre la section reseaux sociaux a 10% de la marge gauche */
}
.jauge {
	border: 2px solid #000; /*permet de faire le contour de la jauge et de mettre le contoure en rouge*/
    background-color: red;/*permet de mettre l'interieur de la jauge en blanc*/
    width: 300px;/*permet de faire la longeur de la bare*/
    height: 20px; /*permet de definir lalargeur des jauge*/
}
.info{
    width: 20px; /* permet de definir la largeur du bloc*/
    height: 20px;/*permet de definir la hauteur du bloc */
}
.comp {
    margin-top: 20px;/*permet de placer la section .comp  20px en dessous de h2 (qui est le titre des mes competance)*/
}
strong{
    color: red;/*mes le texte en rouge*/
    text-decoration: underline; /*permet de mettre un ligne sous le texte*/
}

.interet{/*permet de mettre la section centre d'interet a 10% de la marge gauche */
    margin-left: 10%;
}

.lmtpage {
    display: flex;/*permet la capaciter du bloc a etre flexible*/
    justify-content: space-between;/*permet de separer les bloc de gauche et de droit*/
    margin-top: 25px;
    background-color: white;/*mettre le fond en blanc*/
    width: 100%;
}